/.well-known
/@#cache
/admin/*/
/admin/*.php
/admin/*.html
/admin/*.js
!/admin/css/
/admin/css/*
!/admin/css/main.css
!/admin/css/main_repon.css
!/admin/ajax
!/admin/sources
!/admin/templates
!/admin/index.php
!/admin/ajax.php
!/admin/ajax_phanquyen.php
/ckeditor
/ckfinder
/bootstrap
/composer
/images
/css/fontawesome
/css/fonts
/css/magiczoomplus
/js/datepicker
/js/photobox
/js/t-datepicker
/node_modules
/production
/db_backup
/PHPExcel
/uploadify
/upload
/vendor
*.zip
*.sql
package-lock.json